
// for general margin & padding reset 
* {
	margin: 0px;
	padding: 0px;
}
// Transparent background
body {
	background-color: $mainBg;
	//Transparent Background
	//background-color: rgba(0, 0, 0, 0.9);
}
