.main { 
	//main grid column configuration
	height: 100vh;
	@include autoGridMain;
	h2 {
		// side to side section block title 
		@include keybindBoxTitle;
	};
	//main Grid Box side margin
	margin: 0em 2em;
};
#title {
	// side to side fisrt main page title
	@include topDescription;
};
// 2 block gird column configuration Keybind & description
.boxShorts {
	@include keybindBox;
	@include autoGridShorts;
};

.footer {
	grid-column: 1 / -1;
	@include bottomInfo;
};
.specialKeys {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1em;
  color: white;
	p {
		display: inline-block;
	};
};
.configFile {
	display: block;
  font-size: 1.5rem;
	margin: 1em;
	text-align: right;
	color: white;
	p {
		text-align: right;
	};
};



