// Main Grid 
@mixin autoGridMain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 2em;
};
// 2 inline Keybinding & description Grid
@mixin autoGridShorts {
	display: grid;
  grid-template-columns: repeat(2, minmax(3px, 2fr));	
  grid-gap: 0.2em;
  font-size: 1.8rem;
};
// Desing details of keybind & description grid box
@mixin keybindBox {
	// keybind configuration 
	h5 {
		display: inline-block;
    background-color: $keybindBg;
    border-radius: 0.1em;
    text-align: center;
    color: $blackFont;
		font-weight: bolder;
	};
	// description configuration 
	p {
    display: inline-block;
    background-color: $keyDesciptionBg;
    border-radius: 0.1em;
    text-align: center;
    color: $blackFont;	
	};
};
// side to side section description title
@mixin keybindBoxTitle {
	background-color: $keybindBoxBg;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
	color: $whiteFont;
	font-size: 2rem;
	font-weight: bolder;
};
// Mainn page first title description
@mixin topDescription {
	background-color: $pageDescriptionBg;
	color: $topTileColor;
	margin: 1em;
	text-align: center;
	font-size: 2rem;
	h1 {
		font-size: 4em;
	};
};
// bottom 2 inline block left-rigth configuration
@mixin bottomInfo {
	display: grid;
  grid-template-columns: 1fr 1fr; 
};

