#navigationbar {
  display: grid;
  grid-auto-flow: column;
  font-size: 2rem;
  text-align: center; 
	background-color: $navbarbg;
  position: fixed;
  top: 0px;
  width: 100%;
	a {
		color: $navbarFontColor;
	};
};
