// Backgrounds
$mainBg: $background;
$navbarbg: $foreground;
$pageDescriptionBg: $color0;
$keybindBoxBg: $color4;
$keybindBg: $color5;
$keyDesciptionBg: $color6;
// $sectionTitleBg

// Fonts Color
$navbarFontColor: $color1;
$topTileColor: $color13;
$keyDesciptionFont: $foreground;
$keybindFont: $foreground;
$keybindBoxFont: $color14;
$blackFont:black;
$whiteFont: white;
