#i3.main
	#title
		h1 i3 Shortcuts

	.leftBox
		.boxTitle
			h2 Borders
		.boxShorts
			h5 mod+u
			p No Borders
			h5 mod+y
			p 2px Border
			h5 mod+i
			p Normal Border
		.boxTitle
			h2 Gaps
		.boxShorts
			h5 mod+D
			p Deactivate Gaps
			h5 mod+G
			p Activate Gaps
		.boxTitle 
			h2 Basic Moves
		.boxShorts
			h5 mod+Q
			p Kill Focused
			h5 mod+a
			p Focus Parent
			h5 mod+h/j
			p Focus Left/Down
			h5 mod+k/l
			p Focus Up/Right	
			h5 mod+Left/Right
			p Focus Left/Right
			h5 mod+Down/Up
			p Focus Down/Up 
		.boxShorts
			h5 mod+H/L
			p Move Left/Right
		.boxShorts
			h5 mod+J/K
			p Move Down/UP
	
	.middleBox
		.boxTitle 
			h2 Layout
		.boxShorts
			h5 mod+q
			p Toogle Split
			h5 mod+s
			p Stacking Layout
			h5 mod+w
			p Tabbed Layout
			h5 mod+e 
			p Toogle Split Layout
		.boxTitle
			h2 Workspace & Scratchpad
		.boxShorts
			h5 mod+-
			p Show Scratchpad
			h5 mod+_
			p Move to Scratchpad
			h5 mod+B
			p Move Win to Back&Forth
			h5 mod+b
			p Workspace Back&Forth
			h5 mod=[C]+Left
			p Left Workspace
			h5 mod+[C]+Right
			p Right Workspace
		.boxTitle
			h2 Winsows Manipulation
		.boxShorts
			h5 mod+space
			p Jump "tilling-Floating"
			h5 mod+[S]+space
			p Toogle Floating
			h5 mod+r
			p Toogle Resize
			h5 mod+s
			p Toogle Sticky
			h5 mod+[C]+l
			p 	Sticky Bottom Right
			h5 mod+[C]+Left
			p Sticky Bottom Left
	.RigthBox
		.boxTitle
			h2 Apps
		.boxShorts
			h5 mod+Return
			p Terminal
			h5 mod+R
			p Ranger
			h5 mod+d
			p Dmenu
			h5 mod+z
			p Xlunch
			h5 Browser
			p Chromium
			h5 Mail
			p Neomutt
		.boxTitle
			h2 Spetial Keys
		.boxShorts
			h5 HOME
			p Fullscreen Screenshot
			h5 [S]+HOME
			p Screenshot Selection
			h5 mod+PageUp
			p PlayerCtl Next 
			h5 mod+PageDown
			p PlayerCtl Previus
			h5 mod+END
			p PlayerCtl Pause
			h5 VolumeUp
			p Increse Volume 5%
			h5 volumeDown
			p Decrease volume 5%
			h5 MUTE
			p Mute
			h5 ShutDown
			p Inmidiate ShutsOFF
			h5 mod+9
			p Blur Lock
			h5 mod+0
			p i3Exit Menu

.footer
	.specialKeys
		p [mod]=Windows
		p [super]=Alt
		p [C]=Ctrl
		p [S]=Shift 
	.configFile
		p i3 Configuration file at ~/.config/i3/config or use enviroment variable cfi 
