#ranger.main
	#title
		h1 File Manager	
	.box
		.boxTitle 
			h2 Basics
		.boxShorts
			h5 h/j/k/l
			p left/down/up/right 
			h5 Space
			p Select/Highlight file
			h5 dd
			p Cut Selected files




