#ranger.title
	h2 Ranger
.main
	.box
		.boxTitle 
			h2 Basics
		.boxShorts
			h5 h/j/k/l
			p left/down/up/right 
			h5 g
			p go or cd
			h5 t 
			p new tab
			h5 zh or CTRL-h
			p show hidden files
			h5 / 
			p search(n/N) next/previos
			h5 r
			p open_with (?)
			h5 R
			p (Root) Open_with (?)
		.boxTitle
			h2 Copy Move & Select
		.boxShorts
			h5 Space
			p Select/Highlight file	
			h5 va
			p Select/Highlight All files
			h5 vA
			p Unselect All files
			h5 dd
			p Cut Selected files
			h5 D or dD
			p Console Delete
			h5 Y or yy
			p yank or copy file
			h5 pp
			p paste/move cut/copied files
			h5 t 
			p move file
	.box
		.boxTitle
			h2 Renaming files
		.boxShorts
			h5 cw
			p from scratch
			h5 I
			p adding at the beginning
			h5 A
			p adding to the end
			h5 aa
			p before the extension
		.boxTitle
			h2 Moving around
		.boxShorts
			h5 gR
			p / Root
			h5 gE
			p /etc
			h5 gU
			p /usr

	.box
		.boxTitle
			h2 Aliases
		.boxShorts
			h5 e
			p Edit
			h5 q
			p Quit
			h5 q! /qa /qall
			p Quit All
			h5 setl
			p Set Local


			



