#zsh.title
	h2 Z-Shell
.main
	.leftBox
		.boxTitle
			h2 KeyBind List
		.boxShorts
			h5 bindkey
			p List Keys
			h5 ^@
			p set-mark-command
			h5 ^a or ^p 
			p Beginning-of-line
			h5 ^b
			p backward-char
			h5 ^d
			p delete-char-or-list
			h5 ^e
			p end-of-line
			h5 ^f
			p forward-char
			h5 ^gi or ^[^g
			p send-break
			h5 ^h
			p Backward-delete-char
			h5 ^i
			p expand-or-complete
			h5 ^j or ^m
			p accept-line
	.middleBox
		.boxTitle
			h2 KeyBind List
		.boxShorts
			h5 ^k
			p kill-line
			h5 ^l
			p clear-line
			h5 ^n
			p down-line-or-history
			h5 ^o
			p accept-line-and-down-history
			h5 ^Q
			p push-line
			h5 ^r or ^xr
			p hist-inc-search-backward
			h5 ^s or ^xs
			p hist-inc-search-forward
			h5 ^t
			p transpose-char
			h5 ^u
			p kill-whole-line
			h5 ^v
			p quoted-insert
			h5 ^w or ^[^h
			p backward-kill-word
	.RigthBox
		.boxTitle
			h2 KeyBind List
		.boxShorts
			h5 ^x^b
			p vi-macth-bracket
			h5 ^x^e
			p edit-command-line
			h5 ^x^f
			p vi-find-next-char
			h5 ^x^j
			p vi-join
			h5 ^x^k
			p kill-buffer
			h5 ^x^n
			p infer-next-history
			h5 ^x^o
			p overwrite-mode
			h5 ^x^u or ^xu
			p undo
			h5 ^x^v
			p vi-cmd-mode
			h5 ^x^x
			p exchange-point-and-mark
			h5 ^x^*
			p expand-word
			h5 ^x=
			p what-cursor-position
			h5 ^xg or ^xG
			p list-expand
			h5 ^y
			p yank
			h5 ^[^d
			p list-choices
			h5 ^[^i or ^[^j or ^[^m
			p self-insert-unmeta
			h5 ^[^l
			p clear-screen
			h5 ^[^_
			p copy previus-word
			h5 ^[! or 
			p expand-history
			h5 ^[\"
			p quote-region
			h5 ^[\$
			p spell-word
			h5 ^['
			p quote-line



		

	













































